/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fefefe;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styling */
header {
    background-color: #800000;
    height: 90px;
}

header h1 {
    font-size: 1.8rem;
    color: #fff;
}

header nav ul {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem; 
}

/*index*/
.hero {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    flex-direction: column;
}

.hero-container {
    display: flex;
    max-width: 1400px;
    gap: 1rem;
    align-items: center;
    line-height: 1px;
    
}

.hero-container h2{
    color: #d12222;
    margin-bottom: 2.3rem;
    font-size: 60px;
}

.hero-container p{
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 0.25rem 0;

}

.hero-image img {
    width: 450px;
    height: 650px;
    border-radius: 50%;
   
}

/* Hero Section- About Me */
.hero-text {
    max-width: 600px;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero-text h3 {
    font-size: 2rem;
    color: #ff4c4c;
    margin-bottom: 1rem;
}

.hero-text p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* Social Icons */
.social-icons {
    margin-top: -240px;
    margin-left: 1000px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #ff5e57;
    transform: scale(1.5);
}

ul.Training {
    list-style: none;
    padding: 0;
}

ul.Training li {
    margin-bottom: 30px; /* Space between the training items */
    padding: 15px;
    border: 1px solid #1a1a1a; /* Optional: Add a border around items */
    border-radius: 5px;
    background: #171717; /* Optional: Light background color for better visibility */
}

/* Footer */
footer {
    text-align: center;
    padding: 0.1rem;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 13.5rem;
}
